@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --widget: #F0F0F0;

  --white: #F3F3F3;

  --black-18: #121212;
  --black-21: #151515;
  --black-23: #171717;

  --grey-28: #1C1C1C;
  --grey-204: #CCCCCC;
  --grey-225: #E1E1E1;
  --middle-grey: #D1D1D1;

  /* Main Colors */
  --violet-saturated: #A59DFF;
  --violet-dark-hover: #8977F3;

  /* Typography */
  --font-size-h2: 26px;
  --font-size-l: 24px;
  --font-size-body: 14px;
}

@media (min-width: 1024px) {
  :root {
    --font-size-h2: 40px;
    --font-size-l: 32px;
    --font-size-body: 16px;  
  }
}

.disable-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.disable-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
